.container-fluid {
    width: 450px;
    padding: 20px;
    margin-top: 150px;
    box-shadow: 0 2px 4px rgba(211, 177, 177, 0.1);
    border-radius: 20px;
  }
  
  
  #submit{
    text-decoration: none;
 
  }
  legend{
    text-align: center;
    
  }
